
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -S stime -k time-change
-a always,exit -F arch=b32 -S clock_settime -F a0=0x0 -k time-change
{% if ansible_architecture == 'x86_64' -%} 
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -k time-change
-a always,exit -F arch=b64 -S clock_settime -F a0=0x0 -k time-change
{% endif %}
-w /etc/localtime -p wa -k time-change